@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
    margin: 0; /*Posar per defecte que les siluetes siguin zero que no es vegin*/
} 
nav {
    position: sticky;
    background: rgb(255, 255, 255);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 30px 0;  
}
nav a {
    margin: 8px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    position: sticky;
    top: 0px;
}
nav a:hover {
    color: #7ABA96;
}
nav a:active {
    color: greenyellow;
}
body {
    background: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}
footer {
    background: black;
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
}
footer a{
    margin: 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #7ABA96;
}
#descrip {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    box-shadow: 0px 0px 20px black;
    height: auto;
    width: 350px;
    font-size: medium;
    background: gray;
    font-style: italic;
    animation-name: descripp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes descripp {
    20%{color: #7ABA96;}
    40%{color: rgb(9, 231, 219);}
    60%{color: rgb(104, 238, 162);}
    80%{color: rgb(86, 234, 18);}
    100%{color: green;}
}